name: CICD

on:
  push:
    branches: [ "main" ]

env:
  IMAGE_NAME: ${{secrets.DOCKER_REPO}}

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      # write-all
      contents: read

    steps:
    - name: Source Checkout
      uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
      working-directory: ./cicd

    - name: Build with Gradle Wrapper
      run: ./gradlew build -x test
      working-directory: ./cicd

    - name: Set short SHA
      run: echo "SHORT_SHA=${GITHUB_SHA:0:8}" >> $GITHUB_ENV

    - name: Docker build & push to docker repo
      run: |
        docker login -u ${{ secrets.DOCKER_USERNAME}} -p ${{ secrets.DOCKER_PASSWORD }}
        docker build -t $IMAGE_NAME:latest -t $IMAGE_NAME:$SHORT_SHA .
        docker push $IMAGE_NAME:latest
        docker push $IMAGE_NAME:$SHORT_SHA
      working-directory: ./cicd

    - name: Deploy to server
      uses: appleboy/ssh-action@master
      id: deploy
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USERNAME }}
        key: ${{ secrets.EC2_PRIVATE_KEY }}
        script: |
          docker login -u ${{ secrets.DOCKER_USERNAME}} -p ${{ secrets.DOCKER_PASSWORD }}

          cd /compose

          IMAGE_TAG=${{env.SHORT_SHA}}
          IMAGE_URL=${{env.IMAGE_NAME}}

          echo "${IMAGE_TAG}"
          echo "${IMAGE_URL}"

          if grep -q "^IMAGE_TAG=" .env; then
            sudo sed -i "s/^IMAGE_TAG=.*/IMAGE_TAG=${IMAGE_TAG}/" .env
          else
            echo "IMAGE_TAG=${IMAGE_TAG}" >> .env
          fi

          sudo docker rm -f $(sudo docker ps -qa) || true

          sudo docker pull ${IMAGE_URL}:${IMAGE_TAG}

          sudo docker-compose up -d

          sudo docker image prune -f
